/* .switch-text {
	color: var(--text-color-second);
}

.info-text {
	color: var(--text-color-second);
}
.info-value {
	color: var(--text-color-second);
} */

.settings-panel {
	background-color: var(--third-color);
	padding: 20px;
	color: var(--text-color-second);
	border-radius: 25px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.settings-change {
}
.switch-container {
}
.switch-text {
}
.switch {
}
.app-info {
}
.info-text {
}
