:root {
	--background-color: #efefef;
	--panels-color: #dddcd8;
	--navbar-button-color: #dddcd8;
	--third-color: #374961;
	--fourth-color: #556b88;
	--buttons-icons-color: #d74b4a;
	--text-color-main: #374961;
	--text-color-second: #fdfdfd;
}
