.account-panel {
	background-color: var(--third-color);
	padding: 20px;
	color: var(--text-color-second);
	border-radius: 25px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.account-info {
	display: flex;
}

.account-info-block {
	padding-left: 25px;
	font-size: 25px;
	display: flex;
	flex-direction: column;
}

.account-image {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background-color: #c7c7c7;
	color: var(--text-color-second);
}

.change-password {
	display: flex;
	flex-direction: column;
  background-color: var(--fourth-color);
  border-radius: 20px;
  padding: 10px;
}

.change-pass-input {
}
.change-pass-button {
}

@media (max-width: 1280px) {
	.account-image {
		width: 150px;
		height: 150px;
	}
	.account-info__text {
		font-size: 16px;
	}
	.change-password .MuiFormControl-root {
		width: 200px;
	}
}

@media (max-width: 768px) {
	.account-image {
		width: 90px;
		height: 90px;
	}
	.account-info__text {
		font-size: 14px;
	}
	.account-panel {
		flex-direction: column;
	}
  .change-password{
    margin-top: 20px;
  }
  .change-password .change-pass-button{
    margin-top: 10px;
  }
	.change-password .MuiFormControl-root {
		width: 100%;
	}
}
@media (max-width: 568px) {
	.account-image {
		width: 50px;
		height: 50px;
	}
	.account-info__text {
		font-size: 12px;
	}
}
