.notifications-widget {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 10px 10px;
	background-color: var(--fourth-color);
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.notifications-widget .notification-list {
	width: 100%;
	max-height: 300px;
	overflow-y: scroll;
	scrollbar-width: none;
}

.notifications-widget ::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

.notifications-widget .notification-item {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 10px;
	background-color: var(--third-color);
	border-radius: 20px;
	color: var(--text-color-always-light);
	transition: 1s;
}

.notifications-widget .notification-title {
	display: flex;
	width: 100%;
	justify-content: space-around;
	border-radius: 20px;
	align-items: center;
	min-height: 40px;
}

.notifications-widget .notification-item.active .notification-title {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.notifications-widget .notification-toggle {
	position: relative;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.notification-item__image-wrapper{
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  width: 30px;
}

.notification-item__image{
  height: 30px;
  width: 30px;
}

.notifications-widget .notification-toggle::before,
.notification-toggle::after {
	content: " ";
	height: 2px;
	width: 18px;
	background-color: var(--navbar-button-color);
	position: absolute;
	transition: 0.8s;
}
.notifications-widget .notification-toggle::before {
	transform: rotate(90deg);
}

.notifications-widget .notification-item.active .notification-toggle::before {
	transform: rotate(180deg);
}

.notifications-widget .notification-item.active .notification-toggle::after {
	transform: rotate(180deg);
}

.notifications-widget .notification-body {
	max-height: 0;
	overflow-y: hidden;
	opacity: 0;
	transition: 1s;
}

.notifications-widget .notification-item.active .notification-body {
	max-height: 200px;
	opacity: 1;
	padding: 0 10px;
}

@media (max-width: 568px) {
  .notifications-widget .notification-title{
    font-size: 14px;
  }
  .notification-body{
    font-size: 12px;
  }
}
