.graph-page {
	width: 100%;
}
.graphs-wrapper {
	width: 100%;
	background-color: var(--panels-color);
	border-radius: 20px;
}
.graph-title {
	padding-left: 20px;
	padding-top: 20px;
}
.graph-view {
	height: 300px;
	width: 80vw;
}
.graph-bottom-panel {
	margin-top: 5px;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-around;
}
