html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Montserrat;
	background-color: var(--background-color);
	color: var(--text-color-main);
}
a {
	text-decoration: none;
	color: inherit;
}
button,
span {
	color: inherit;
}

.main-content {
	display: flex;
}
/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
	padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
	list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
	max-width: 100%;
	display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
	margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
	font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

.container {
	margin-left: 70px;
	margin-right: auto;
}

.login-panel {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
}

.registration-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.input-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;
}

.registration-link {
	font-size: 14px;
}

.row-js-btw {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 10px;
}

.MuiFormControl-root {
	width: 400px;
}

.MuiButton-root {
	background-color: var(--fourth-color) !important;
	min-width: 160px !important;
	min-height: 38px;
	border-radius: 15px !important;
}

.MuiButton-root:hover {
	background-color: var(--third-color) !important;
}

.MuiButton-label {
	color: var(--text-color-second) !important;
}

.MuiFormLabel-root {
	color: var(--text-color-main) !important;
}
.MuiFormLabel-root.Mui-focused {
	color: var(--buttons-icons-color) !important;
}

.MuiInputBase-input {
	color: var(--text-color-main) !important;
}
.MuiInput-underline::after {
	border-bottom: 2px solid var(--buttons-icons-color) !important;
}
.MuiInput-underline::before {
	border-bottom: 2px solid var(--third-color) !important;
}

.dev-lable {
	position: fixed;
	right: 20px;
	bottom: 20px;
}
