.control-block-wrapper {
	text-align: start;
	display: flex;
	flex-direction: column;
	height: 41vh;
	width: 100%;
	background-color: var(--panels-color);
	border-radius: 25px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
}

.cb-title-wrapper {
	padding-left: 20px;
}

.control-block {
	width: 100%;
	display: flex;
	height: 34.7vh;
}

.sensor-wrapper {
	width: 50%;
	padding-right: 15px;
	border-right: 2px solid var(--fourth-color);
}

.wrapper-container {
	background-color: var(--fourth-color);
	border-radius: 25px;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 15px;
}
.sensor-info {
	display: flex;
	justify-content: space-around;
	color: var(--text-color-second);
	font-size: 18px;
	padding-bottom: 10px;
}
.sensor-info:last-child {
	padding-bottom: 0;
}

.sensor-switcher {
	width: 50%;
	padding-left: 15px;
}
.sensor-switch {
	display: flex;
	justify-content: space-between;
}
.slidable-switch{
  padding-right: 25px;
}

@media (max-width: 1200px) {
	.control-block {
		background-color: var(--panels-color);
		display: flex;
		flex-direction: column;
		border-radius: 25px;
		height: 34.7vh;
	}

	.control-block-wrapper {
		text-align: center;
		display: flex;
		flex-direction: column;
		width: 40vw;
		height: 41vh;
		background-color: var(--panels-color);
		border-radius: 25px;
	}

	.sensor-switch {
		font-size: 13px;
	}
	.sensor-info {
		font-size: 13px;
		padding-bottom: 5px;
	}
	.wrapper-container {
		border-radius: 15px;
		min-height: 60px;
	}
	.sensor-switcher {
		width: 100%;
		padding-left: 0;
		padding-top: 10px;
		overflow-y: scroll;
	}
	.sensor-wrapper {
		width: 100%;
		padding-right: 0;
		border-right: none;
		border-bottom: 2px solid var(--fourth-color);
	}
}

@media (max-width: 640px) {
	.control-block-wrapper {
		text-align: center;
		display: flex;
		flex-direction: column;
		width: 90vw;
		height: 41vh;
		background-color: var(--panels-color);
		border-radius: 25px;
	}
}
